<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <a routerLink="all" routerLinkActive="active" class="nav-link">Todos los productos</a>
    <section class="nav-group collapsible">
      <input id="brands" type="checkbox">
      <label for="brands">Marcas de productos</label>
      <ul class="nav-list">
        <li><a [routerLink]="['brand', 'pampero']" routerLinkActive="active" class="nav-link">Pampero</a></li>
        <li><a [routerLink]="['brand', 'toddy']" routerLinkActive="active" class="nav-link">Toddy</a></li>
        <li><a [routerLink]="['brand', 'mavesa']" routerLinkActive="active" class="nav-link">Mavesa</a></li>
        <li><a [routerLink]="['brand', 'chiffon']" routerLinkActive="active" class="nav-link">Chiffon</a></li>
        <li><a [routerLink]="['brand', 'dogourmet']" routerLinkActive="active" class="nav-link">Dogourmet</a></li>
        <li><a [routerLink]="['brand', 'primor']" routerLinkActive="active" class="nav-link">Primor</a></li>
        <li><a [routerLink]="['brand', 'las llaves']" routerLinkActive="active" class="nav-link">Las llaves</a></li>
        <li><a [routerLink]="['brand', 'supercan']" routerLinkActive="active" class="nav-link">SuperCan</a></li>
        <li><a [routerLink]="['brand', 'chef']" routerLinkActive="active" class="nav-link">Chef</a></li>
        <li><a [routerLink]="['brand', 'migurt']" routerLinkActive="active" class="nav-link">Migurt</a></li>
        <li><a [routerLink]="['brand', 'golden']" routerLinkActive="active" class="nav-link">Golden</a></li>
        <li><a [routerLink]="['brand', 'cachapas p.a.n.']" routerLinkActive="active" class="nav-link">Cachapas P.A.N.</a></li>
        <li><a [routerLink]="['brand', 'p.a.n.']" routerLinkActive="active" class="nav-link">P.A.N.</a></li>
        <li><a [routerLink]="['brand', 'mazeite']" routerLinkActive="active" class="nav-link">Mazeite</a></li>
        <li><a [routerLink]="['brand', 'margarita']" routerLinkActive="active" class="nav-link">Margarita</a></li>
        <li><a [routerLink]="['brand', 'rikesa']" routerLinkActive="active" class="nav-link">Rikesa Cheddar</a></li>
        <li><a [routerLink]="['brand', 'lipton']" routerLinkActive="active" class="nav-link">Lipton</a></li>
        <li><a [routerLink]="['brand', 'quacker']" routerLinkActive="active" class="nav-link">Quacker</a></li>
      </ul>
    </section>
    <a routerLink="unavailable" routerLinkActive="active" class="nav-link">Productos no disponibles</a>
  </section>
</nav>
