<clr-header>
  <div class="branding">
    <a routerLink="/home" class="nav-link"><img src="assets/images/header-logo-empresas-polar.png" alt="Alimentos Polar" title="Alimentos Polar"></a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a routerLink="/products" routerLinkActive="active" class="nav-link nav-text">Productos</a>
    <a routerLink="/about-us" routerLinkActive="active" class="nav-link nav-text">Sobre nosotros</a>
    <a routerLink="/contact-us" routerLinkActive="active" class="nav-link nav-text">Contactanos</a>
  </div>
  <div class="header-actions">
    <div *ngIf="innerWidth > 768; else mobile">
      <button class="btn btn-icon btn-link" style="color: #F4F1E6;" (click)="onOpenCart()">
        <clr-icon shape="shopping-cart" class="is-solid"></clr-icon>
        Carrito
      </button>
      <button class="btn btn-icon btn-link" style="color: #F4F1E6;" (click)="onOpenUser()">
        <clr-icon shape="user" class="is-solid"></clr-icon>
        Identificarse
      </button>
    </div>

    <ng-template #mobile>
      <a class="nav-link nav-icon" style="color: #F4F1E6;" (click)="onOpenCart()">
        <clr-icon shape="shopping-cart" class="is-solid"></clr-icon>
      </a>
      <a class="nav-link nav-icon" style="color: #F4F1E6;" (click)="onOpenUser()">
        <clr-icon shape="user" class="is-solid"></clr-icon>
      </a>
    </ng-template>
  </div>
</clr-header>
