<clr-header>
  <div class="branding">
    <a href="#" class="nav-link"><img src="assets/images/header-logo-empresas-polar.png" alt="Alimentos Polar" title="Alimentos Polar"></a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a href="javascript://" class="nav-link nav-text">Productos</a>
    <a href="javascript://" class="nav-link nav-text">Sobre nosotros</a>
    <a href="javascript://" class="nav-link nav-text">Contactanos</a>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon">
      <clr-icon shape="user" class="is-solid"></clr-icon>
    </a>
  </div>
</clr-header>
