<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Toddy
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/imagen_pequena52.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Gelatina
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/GOLDEN-FRESA.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        MiGurt
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/imagen_pequena1.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Cachapas P.A.N.
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/CACHAPAS-PAN.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        P.A.N.
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/HARINA-PAN.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Sardinas Margarita
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/Sardinas-170g-Ahumadas320ALT.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Perrarina Dogourmet
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/imagen_pequena57.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        Avena Quaker
      </div>
      <div class="card-img">
        <img src="http://empresaspolar.com/files/subcategoria/pequena/Avena%20Houelas.png">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
      </div>
    </a>
  </div>
</div>
