<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" *ngFor="let product of products | async; let i=index">
    <a href="javascript://" class="card clickable">
      <div class="card-header">
        {{ product.name }}
      </div>
      <div class="card-img">
        <img [src]="product.imagePath">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link btn-icon" (click)="onAddToCart(product)" *ngIf="check(product); else remove">
          <clr-icon shape="plus"></clr-icon>
          Agregar al carrito
        </button>
        <ng-template #remove>
          <button class="btn btn-sm btn-link btn-icon" style="color: #C92100;" (click)="onRemoveFromCart(i)">
            <clr-icon shape="window-close"></clr-icon>
            Remover del carrito
          </button>
        </ng-template>
      </div>
    </a>
  </div>
</div>
