<clr-modal [(clrModalOpen)]="open" *ngIf="open">
    <h3 class="modal-title">{{ product?.name }}</h3>
    <div class="modal-body">
        <form [formGroup]="updateForm">
            <section class="form-block">
                <div class="form-group row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <label for="name" class="required">Producto</label>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-left tooltip-sm form-control"
                               [class.invalid]="updateForm.get('name').invalid
                    && (updateForm.get('name').dirty || updateForm.get('name').touched)">
                            <input type="text" id="name" formControlName="name" class="form-control">
                            <span class="tooltip-content" *ngIf="updateForm.get('name').errors && (updateForm.get('name').errors.required && (updateForm.get('name').dirty || updateForm.get('name').touched))">
                                Debe ingresar el nombre del producto
                            </span>
                            <span class="tooltip-content" *ngIf="updateForm.get('name').errors && (updateForm.get('name').errors.checkName && (updateForm.get('name').dirty || updateForm.get('name').touched))">
                                No se encuentra ese nombre entre los productos
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <label for="stock" class="required">Cantidad ({{ product?.stock }} disponible)</label>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <label for="stock" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-left tooltip-sm form-control"
                               [class.invalid]="updateForm.get('stock').invalid
                    && (updateForm.get('stock').dirty || updateForm.get('stock').touched)">
                            <input type="text" id="stock" formControlName="stock" class="form-control">
                            <span class="tooltip-content" *ngIf="updateForm.get('stock').errors && (updateForm.get('stock').errors.required && (updateForm.get('stock').dirty || updateForm.get('stock').touched))">
                                Debe ingresar la cantidad a agregar
                            </span>
                        </label>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onUpdateStock()" [disabled]="updateForm.invalid">Agregar</button>
    </div>
</clr-modal>


