<div class="row">
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
  <div class="col-sm-1" style="border: 1px solid red;"></div>
  <div class="col-sm-1" style="border: 1px solid blue"></div>
</div>

