<div class="row">
    <div class="offset-md-2">
        <h2 *ngIf="type === 'client'">Mis pedidos</h2>
        <h2 *ngIf="type === 'employee'">Pedidos</h2>
    </div>
</div>
<div class="row">
    <div class="offset-md-3">
        <h3>Pedidos en espera</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <clr-datagrid>
            <clr-dg-column>Comprador</clr-dg-column>
            <clr-dg-column>Precio total</clr-dg-column>
            <clr-dg-column>Estado</clr-dg-column>

            <clr-dg-placeholder>No se han encontrado pedidos en espera</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let order of ordersPending | async" [clrDgItem]="order">
                <clr-dg-action-overflow>
                    <button class="action-item" (click)="onSend(order._id)" *ngIf="type === 'employee'">Entregado</button>
                    <button class="action-item" (click)="onDelete(order._id)">Cancelar</button>
                </clr-dg-action-overflow>
                <clr-dg-cell>{{order.buyer.businessName}}</clr-dg-cell>
                <clr-dg-cell>{{order.totalPrice}}</clr-dg-cell>
                <clr-dg-cell>{{order.status}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination1 [clrDgPageSize]="5">
                    {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}}
                    de {{pagination1.totalItems}} pedidos
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
<div class="row">
    <div class="offset-md-3">
        <h3>Pedidos entregados</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <clr-datagrid>
            <clr-dg-column>Comprador</clr-dg-column>
            <clr-dg-column>Precio total</clr-dg-column>
            <clr-dg-column>Estado</clr-dg-column>

            <clr-dg-placeholder>No se han encontrado pedidos entregados</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let order of ordersFinished | async" [clrDgItem]="order">
                <clr-dg-cell>{{order.buyer.businessName}}</clr-dg-cell>
                <clr-dg-cell>{{order.totalPrice}}</clr-dg-cell>
                <clr-dg-cell>{{order.status}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination2 [clrDgPageSize]="5">
                    {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}}
                    de {{pagination2.totalItems}} pedidos
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>
<div class="row">
    <div class="offset-md-3">
        <h3>Pedidos cancelados</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <clr-datagrid>
            <clr-dg-column>Comprador</clr-dg-column>
            <clr-dg-column>Precio total</clr-dg-column>
            <clr-dg-column>Estado</clr-dg-column>

            <clr-dg-placeholder>No se han encontrado pedidos cancelados</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let order of ordersCanceled | async">
                <clr-dg-cell>{{order.buyer.businessName}}</clr-dg-cell>
                <clr-dg-cell>{{order.totalPrice}}</clr-dg-cell>
                <clr-dg-cell>{{order.status}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination3 [clrDgPageSize]="5">
                    {{pagination3.firstItem + 1}} - {{pagination3.lastItem + 1}}
                    de {{pagination3.totalItems}} pedidos
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</div>



